<div class="submission">
    <h1>Data Submitted Successfully</h1>


<p>Language: {{language}}</p>
<p>Title: {{title}}</p>
<p>Content: {{content}}</p>
<p>Explain: {{explain}}</p>
<p>Author: {{author}}</p>
<p>Author_id : {{author_id}}</p>
<p>Likes: {{likes}}</p>




{{!-- title: String,
programing
content: String,
explain: String,
author: String,
author_id: String,
likes: String,
comment: {
type: comment_schema,
}  --}}

<a href="/form">Add New Data</a>
<a href="/getalldata">See all data</a>
</div>